a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
}

.red-font {
    color: red;
}

.enlarge-font {
    font-size: 1.9em;
}

.main-header {
    background-color: rgba(255, 255, 255, .6);
    background-image: url('images/nicePizzaBackground13_edited.jpg');
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.pizzaria-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-weight: bold;
    color: white;
}

.pizzaria-name-large {
    font-size: 8em;
}

.content-section {
    margin: 1em;
    font-size: 1.3em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-weight: bold;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.index-section-header {
    font-weight: bold;
    color: #333;
    text-align: center;
    font-size: 2.3em;
}

.about-pezzo-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

.about-margin {
    margin-bottom: 19px;
}

.main-footer {
    background-color: #56CCF2;
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

    .main-footer-container ul {
        flex-grow: 1;
        text-align: end;
    }

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 40px;
    height: 40px;
}

.button {
    color: white;
    background-color: #56CCF2;
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    font-weight: bold;
    border: none;
    border-radius: .3em;
    cursor: pointer;
}

    .button:hover {
        background-color: #2D9CDB;
    }

.button-orderNow {
    display: block;
    margin: 40px auto 30px auto;
    font-size: 1.75em;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
    width: 330px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.button-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

    .button-danger:hover {
        background-color: #7a0101;
    }

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

    .cart-row:last-child .cart-column {
        border: none;
    }

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.button-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.login-form-container {
    border: 5px solid #56CCF2;
    border-radius: 3em;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 30px;
}

.div-form-container {
    padding: 25px;
}

.login-password-div {
    margin-top: 25px;
}

.button-login {
    display: block;
    margin: 80px auto 80px auto;
    font-size: 1.1em;
}

.login-inputs {
    margin: 20px 20px auto auto;
    padding: 5px 0px 5px 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    outline: none;
    width: 70%;
    font-size: .8em;
}

.register-inputs {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    outline: none;
    font-size: .8em;
    width: 70%;
}

.button-register {
    display: block;
    margin: 10px auto 40px auto;
    font-size: 1em;
}

.register-divs {
    margin-bottom: 10px;
}

.register-labels {
    display: inline-block;
    width: 150px;
    text-align: right;
    font-size: .7em;
}

.register-form-container {
    border: 5px solid #56CCF2;
    border-radius: 3em;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 0px;
    margin-bottom: 30px;
    padding: 30px;
}

