@page "/"

<!DOCTYPE html>
<html>
<head>
    <title>Pezzo SG | Home</title>
</head>
<body>
    <header class="main-header">
        <h1 class="pizzaria-name pizzaria-name-large">PEZZO SG</h1>
    </header>
    <section class="content-section container">
        <div class="container">
            <p class="index-section-header">
                BUY <span class="red-font enlarge-font">1</span> GET <span class="red-font enlarge-font">1 FREE!</span> <br>
                From <span class="red-font enlarge-font">ALL</span> Pizza Categories, <span class="red-font enlarge-font">WEEKDAYS ONLY!</span>
            </p>
        </div>
    </section>
    <footer class="main-footer">
        <div class="container main-footer-container">
            <h3 class="pizzaria-name">PEZZO SG</h3>
            <ul class="nav footer-nav">
                <li>
                    <img src="images/fb-logo.png">
                </li>
                <li>
                    <img src="images/telephone-icon3.png"><span class="enlarge-font">66-36-36-36</span>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>
